{% load static %}

<div class="grid grid-cols-2 gap-x-4 mb-10 p-4 relative">
  <!-- Left column -->
  <div class="px-4 space-y-2 font-roboto ">
    <h1 class="text-3xl mb-4">Contact Us</h1>
    <p class="text-md text-gray-500">
      If you have any questions or want to get a free estimate for your mold situation,
      contact us via email or phone call. We will be very happy to help you!
    </p>

    <div class="space-y-6 mt-10 p-4">
      {% include 'includes/homepage/contact-element.html' with icon='<i class="bi bi-telephone-fill"></i>' text='012 - 456 - 789' %}
      {% include 'includes/homepage/contact-element.html' with icon='<i class="bi bi-envelope-fill"></i>' text='tastora@support.com' %}
      {% include 'includes/homepage/contact-element.html' with icon='<i class="bi bi-geo-alt-fill"></i>' text='Coimbatore, Tamilnadu, India' %}
      {% include 'includes/homepage/contact-element.html' with icon='<i class="bi bi-clock-fill"></i>' text='Mon - Fri (9:00 to 18:00)' %}
    </div>
  </div>

  <!-- Right column -->
  <div class="w-[90%] h-[90%] bg-orange-400 flex justify-center items-end relative self-end">
    <!-- Image positioned absolutely to float above bottom -->
    <img 
      src="{% static 'HomePage/images/profile-2.png' %}" 
      alt="Profile" 
      class="absolute bottom-12 scale-[135%] "
    />
  </div>
</div>
