{% load static %}

<div class="home">

    <div class="mx-auto overflow-hidden mt-4 mb-8
 rounded-md bg-gray-300 flex  relative  h-96 w-[90vw]">
        <img src="{% static 'HomePage/images/Home1.jpg' %}" alt="Home Image"
            class="absolute  w-full h-full object-cover scale-x-[-1]" />

        <div class=" absolute top-8 left-8 w-[30vw]">

            <div class="heading text-5xl font-inter font-semibold space-y-2 mb-4">
                <h1>Advanture</h1>
                <h1>of <span class="text-orange-400">Delicacies</span></h1>
            </div>
            <p class="font-normal font-open text-gray-500">
                Unlock a world of variety culinary recipes and unleash your inner chef the easy way with Tastora
            </p>
        </div>

        <div class="w-[40vw] absolute bottom-8 left-8 h-10 flex space-x-4">

            {% include 'includes/partials/icon-text-btn.html' with btn_link="#" btn_icon='<i class="bi bi-egg-fried"></i>' btn_text='Explore recipe' btn_bg="bg-black" %}
            {% include 'includes/partials/icon-text-btn.html' with btn_link="#" btn_icon='<i class="bi bi-download"></i>' btn_text='Get our mobile app' %}
        </div>
    </div>


    <div class="description w-[80vw] mx-auto flex justify-between mb-8">
        {% include 'includes/homepage/desc-card.html' with desc_icon='<i class="bi bi-person"></i>' desc_head='User-Centered' desc_content='Your feedback shapes our platform, ensuring a seamless and satisfying culinary journey.' %}

        {% include 'includes/homepage/desc-card.html' with desc_icon='<i class="bi bi-circle-half"></i>' desc_head='Diverse Recipes' desc_content='We celebrate diverse culinary traditions from around the world, inspiring you today.' %}

        {% include 'includes/homepage/desc-card.html' with desc_icon='<i class="bi bi-suit-heart"></i>' desc_head='Fun Community' desc_content='We foster a vibrant foodie community where joy comes with sharing recipes with us.' %}

        <div>
            {% include 'includes/homepage/img-desc-card.html' with card_img='HomePage/images/Home2.jpg' %}

        {% include 'includes/homepage/icon-text-card.html' with card_icon='<i class="bi bi-x-diamond-fill"></i>' card_text='Learn more new'%}
        </div>

        {% include 'includes/homepage/desc-card.html' with desc_icon='<i class="bi bi-airplane"></i>' desc_head='Explore More' desc_content='Explore more recipe and learn new things only on Tastora, cook more have fun things.' %}

    </div>

    <div class="chef w-[83vw] mb-8 h-[100vh] mx-auto relative ">
        <div class=" font-semibold flex flex-col items-center absolute top-8 left-[27%]     ">
            <h1 class="text-5xl">Become a true <span class="text-orange-400">chef</span></h1>
            <h1 class="text-5xl mb-2">with our recipes</h1>
            <p class="font-open font-light text-md">We are a home to variety of recipes</p>
            <p class="font-open font-light text-md">worldwide for you to learn.</p>
        </div>

        <div class="absolute bottom-12 px-4 flex space-x-4 mx-auto">
            <div>
                {%include 'includes/about/icon-img-icon-text.html' with card_img='HomePage/images/Home3.jpg' card_icon2='<i class="bi bi-search-heart text-black text-orange-400 bg-orange-100 px-2 rounded-full"></i>' card_text2='Easy to collect recipe' card_text1='# top 1'%}
            </div>

           <div>
                {% include 'includes/about/quote-card.html' with quote_text="Cooking has never been this easy!" author_name="Marsha Rianty" author_role="Master Chef 2023" author_img="HomePage/images/profile-1.jpg" card_icon='<i class="bi bi-heart"></i>' %}
            </div>

            <div>
        {% include 'includes/about/info-card.html' with icon1='<i class="bi bi-award"></i>' heading1='Achievement' desc1='Cook 2 foods today' icon2='<i class="bi bi-crosshair"></i>' heading2='Live Now' desc2='Chef Mark Johnson' icon3='<i class="bi bi-egg-fried"></i>' heading3="Today's Recipe" desc3='Spaghetti Bolognese'  %}

            </div>

            <div>
                {%include 'includes/about/icon-img-icon-text.html' with card_img='HomePage/images/stack-pizza.jpg' card_icon2='<i class="bi bi-arrow-up-right-square text-black text-orange-400 bg-orange-100 px-2 rounded-full"></i>' card_text2='Growing recipe' card_text1='smart'%}
            </div>
        </div>
    </div>
    <div class="popular-recipe mb-8  mx-auto w-[90vw]">
        <h1 class="text-5xl">Popular <span class="text-orange-400">recipes</span> Today</h1>
    </div>

    <div class="recent-recipe mb-8  mx-auto w-[90vw]">
        <h1 class="text-5xl">Latest <span class="text-orange-400">recipes</span></h1>
    </div>

    <div class="w-[80%] mx-auto">
        {% include 'includes/homepage/contact-us.html' %}
    </div>



</div>
