 {%load static%}
<div class="chef w-[83vw] mb-8 h-[100vh] mx-auto relative ">
        <div class=" font-semibold flex flex-col items-center absolute top-8 left-[27%]     ">
            <h1 class="text-5xl">Become a true <span class="text-orange-400">chef</span></h1>
            <h1 class="text-5xl mb-2">with our recipes</h1>
            <p class="font-open font-light text-md">We are a home to variety of recipes</p>
            <p class="font-open font-light text-md">worldwide for you to learn.</p>
        </div>

        <div class="absolute bottom-12 px-4 flex space-x-4 mx-auto">
            <div>
                {%include 'includes/about/icon-img-icon-text.html' with card_img='HomePage/images/Home3.jpg' card_icon2='<i class="bi bi-search-heart text-black text-orange-400 bg-orange-100 px-2 rounded-full"></i>' card_text2='Easy to collect recipe' card_text1='# top 1'%}
            </div>

           <div>
                {% include 'includes/about/quote-card.html' with quote_text="Cooking has never been this easy!" author_name="Marsha Rianty" author_role="Master Chef 2023" author_img="HomePage/images/profile-1.jpg" card_icon='<i class="bi bi-heart"></i>' %}
            </div>

            <div>
        {% include 'includes/about/info-card.html' with icon1='<i class="bi bi-award"></i>' heading1='Achievement' desc1='Cook 2 foods today' icon2='<i class="bi bi-crosshair"></i>' heading2='Live Now' desc2='Chef Mark Johnson' icon3='<i class="bi bi-egg-fried"></i>' heading3="Today's Recipe" desc3='Spaghetti Bolognese'  %}

            </div>

            <div>
                {%include 'includes/about/icon-img-icon-text.html' with card_img='HomePage/images/stack-pizza.jpg' card_icon2='<i class="bi bi-arrow-up-right-square text-black text-orange-400 bg-orange-100 px-2 rounded-full"></i>' card_text2='Growing recipe' card_text1='smart'%}
            </div>
        </div>
    </div>