<div>
  <a href="{{ btn_link }}" 
     class="relative group
            {% if btn_bg %}
              {{ btn_bg }} text-white hover:bg-white hover:text-black border-2 border-orange-400 pl-3 flex items-center
            {% else %}
              pl-6
            {% endif %}
            rounded-full text-md px-3 font-roboto hover:font-normal py-1 text-center"
  >
    {% if user.is_authenticated %}
    <span class="absolute left-2 top-1/2 -translate-y-1/2 w-2 h-2 bg-orange-400 rounded-full opacity-0 group-hover:opacity-100 transition-opacity"></span>
    {% endif %}
    <span>{{ btn_name }}</span>
  </a>
</div>
