<div class="relative w-full max-w-sm">
    <input type="text" placeholder="Search..." class="w-full h-12 py-2 pl-5 pr-14 
               rounded-full 
               bg-gray-50 
               border border-gray-100 
               shadow-inner-sm 
               font-roboto
               text-gray-500 placeholder-gray-400 
               focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-orange-500">

    <button type="submit" class="absolute right-1 top-1 
                   h-10 w-10 
                   flex items-center justify-center 
                   rounded-full 
                   
                   text-gray-600 
                   hover:text-orange-500 
                   transition duration-150">
        <i class="bi bi-search text-lg"></i>
    </button>
</div>